/* Don't for get to press "Watch Sass" in VSC*/

body {
  border: 1.5px solid black;
  background-color: blanchedalmond;
  text-align: center;
}

#sudoku_title {
  margin: 0;
  padding: 0;
}

#input_error {
  margin-top: 0;
  margin-bottom: 0;
  color: red;
  display: none;
}

#solution_feedback {
  margin: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}

.sudoku_title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#solve_btn {
  margin-top: 0.5em;
  margin-bottom: 3em;
}
.btn {
  width: 175px;
}

#custom_form {
  display: none;
  margin-top: 0.2em;
}

#custom_input {
  display: inline;
  font-size: 13.5px;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 300px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  width: 200px;
  height: 200px;
  background-color: cornsilk;
  margin-top: 1em;
  padding: 0;
}

.subboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  margin: 0;
  padding: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  &.left-border {
    border-left: 3px solid black;
  }
  &.bottom-border {
    border-bottom: 3px solid black;
  }
  text-align: center;
}

.subboard > div {
  margin: 0;
  padding: 0;
  border: 0;
  border: 1px solid black;
}

.container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

@media only screen and (max-width: 480px) {
  .btn {
    width: 200px;
    height: 42px;
    margin-bottom: 1em;
  }
  #custom_input {
    width: 200px;
  }
}

@media only screen and (max-width: 315px) {
  #custom_input {
    width: 90%;
  }
}

@media only screen and (max-width: 260px) {
  .btn {
    width: 90%;
    margin-bottom: 1em;
  }
  #custom_input {
    width: 90%;
  }
}
