{% extends 'base.html' %}
{% block body %}
    
    <h1>Fast Sudoku Solver</h1>
    <p>Solve one of the sample sudokus or enter your own</p>
   
    {% for sudoku in sudokus %} 
        <label for="sudoku_{{loop.index}}">{{sudoku.title}}: </label>
        <p id="sudoku_{{loop.index}}" class="sample_sudoku_string">{{sudoku.board}}</p>
        <input type="button" value="Show" onclick="input_handler('{{loop.index}}')"/><br>

        <form method="post" action="{{ url_for('solver') }}"  id="sudoku_form_{{loop.index}}">
            <input type="hidden" name="board" id="sudoku{{loop.index}}_input" value={{sudoku.board}}>
            <input type="hidden" name="title" id="title_{{loop.index}}" value="{{sudoku.title}}">
            <input type="hidden" name="sudoko_number" value="{{loop.index}}">
        </form>
    {% endfor %}
 
    <form method="post" action="{{ url_for('solver') }}" autocomplete="off" id="sudoku_form_4">
        <label for="sudoku_4">Your Sudoku:</label>
        <input type="text" 
               name="board" id="sudoku4_input" maxlength="81" 
               placeholder="Enter your own sudoku">
        <input type="hidden" name="sudoko_number" value="4">
        <input type="hidden" name="title" id="title_4" value="Your Sudoku">
        <input type="button" value="Show" onclick ="input_handler(4)"/>
    </form>

    <p id="input_error">&nbsp;</p>
    <h4 id="sudoku_title">Sudoku</h4>
    <p id="feedback">&nbsp</p>

    <div class="container">
        {% include 'sudoku_board.html' %}
    </div>
    <input id="solve_btn" type="button" value="Solve"/>

    <script src="../static/js/main.js"></script>


    {% if return_from_solver%}
        {% if sudoku_number == "4" %}
            <script>
                reduced_str = remove_trailing_zeros("{{sudoku_string}}");
                document.getElementById("sudoku4_input").value = reduced_str;
            </script>
        {% endif %}
        <script>
            show_board("{{sudoku_number}}", "{{sudoku_string}}");
        </script>
        {% if is_solvable == true %}

            <script>
                show_board("{{sudoku_number}}", "{{solved_sudoku}}", is_solution= true);
                document.getElementById("feedback").style.color = "green";
                document.getElementById("feedback").innerHTML += "Solved using {{solution_method}}";
            </script>
        {% else %}
            <script>
                document.getElementById("feedback").style.color = "red";
                document.getElementById("feedback").innerHTML += "Your sudoku has no solution!";
            </script>
        {% endif %}
    {% else %}
        <script>
          input_handler(1);
        </script>
    {% endif %} 

{% endblock body %}