{% extends 'base.html' %}
{% block body %}

<div class="flex-container">
    <h1><i>Fast </i>Sudoku Solver</h1>
    <p>Solve one of the sample sudokus or enter your own</p>

    <input type="button" class="btn" id="new_sample_btn" value="New Sample Sudoku"/>
    <input type="button" class="btn" id="new_custom_btn" value="New Custom Sudoku"/>
    <p id="solution_feedback">&nbsp;</p>
    <h4 id="sudoku_title">{{data["title"]}}</h4>
    <input type="text" id="custom_input" maxlength="81" placeholder="Enter your sudoku (use digits)"/>
    <p id="input_error">Invalid input (only digits 0-9 allowed)</p>
    <div class="sudoku_board">
        {% for i in range(81) %}
            <div id="{{i}}"></div>
        {% endfor %}
    </div>
    <input type="button" class="btn" id="solve_btn" value="Solve"/>
</div>

<form method="post" action="{{ url_for('index') }}" id="form">
    <input type="hidden" name="json_data" id="json_data" value = "">
</form>

<script>js_data = JSON.parse('{{ data | tojson | safe}}')</script>  
<script src="../static/js/helper_functions.js"></script>
<script src="../static/js/eventlisteners.js"></script>
<script src= "../static/js/main.js"></script>

{% endblock body %}